﻿<%@ Page Title="" Language="C#" MasterPageFile="~/EmployeeMasterPage.master" AutoEventWireup="true"
    CodeFile="Home.aspx.cs" Inherits="Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div style="float: right; width: 82%; background-color: aliceblue; min-height: 420px;
        height: auto; padding-bottom: 5%;">
        <div style="padding-left: 5%;">
           <div align="center" style="padding-top: 2%; height: 48px;">
                <b>
                    <asp:Label ID="lblHeadings" runat="server" Text="Welcome To SANMIN TECHNOLOGIES PVT.LTD."></asp:Label></b>
            </div>
            <div align="left" style="padding-top: 2%; height: 48px;width: 87%;padding-left: 5%;">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SANMIN Aerospace group offers cutting edge CAD/ CAM/ CAE solutions to 
the Aerospace industry . Our  competitively priced services in combination 
with process driven project execution methodology will find great help to our 
clients in slashing project costs.

Our ever-expanding range of engineering services cover design and 
development of composite structures, airframes, aircraft interior monuments, 
tool and fixture design.<br />
The Automotive sector has seen revenue per car erode while costs have continued to rise 
forcing Automotive companies to build products more quickly and more efficiently. SANMIN 
helps to achieve these objectives by providing combination of domain knowledge and the 
usage of software tools & technologies in every stage of product life-cycle.

Our strengths in the automotive domain encompass detailed design, analysis and 
optimization as well as tool design.
                <br />
                Smart Phone Application Development

SANMIN's technical expertise in Smart Phone applications field combined with 
full service solutions offering enable our team to deliver custom and scalable 
Android applications at affordable costs.

Our Android development focus areas include:
Custom  Application Development
Project management Application Development
Engineering Application Developement
Multimedia Development
Enterprise Application Development
Application Maintenance and Upgrade
Application Testing.
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</asp:Content>
