﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SessionAlive.aspx.cs" Inherits="SessionAlive" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta id="MetaRefresh" http-equiv="refresh" content="21600;url=SessionAlive.aspx"
        runat="server" />
   <%--<script type="text/javascript">
       function ResetTimeOut() {
           var requestParms = new Sys.Net.WebRequest();
           requestParms.set_url("SessionAlive.aspx");
           requestParms.set_httpVerb("POST");
           var message = "hi";
           requestParms.set_body(message);
           requestParms.get_headers()["Content-Length"] = message.length;
           requestParms.add_completed(DoNothing);
           requestParms.invoke();
       }

       function DoNothing(executor, eventArgs) {

       }
       window.setInterval("ResetTimeOut();", 600000);
</script>--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
