﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css">
        .no-js #loader
        {
            display: none;
        }
        .js #loader
        {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }
        .se-pre-con
        {
            position: fixed;
            left: 45%;
            top: 45%;
            width: 20%;
            height: 20%;
            z-index: 9999;
            background: url(loader/loading.gif) center no-repeat #fff;
        }
    </style>
    <meta http-equiv="refresh" content="500" />
    <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css"
        rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="Styles/calendar-blue.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="Scripts/Demo.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script src="Scripts/jquery.dynDateTime.min.js" type="text/javascript"></script>
    <script src="Scripts/calendar-en.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <%--<iframe id="MaintainSession" src="SessionAlive.aspx" width="0" height="0" runat="server">
    </iframe>--%>
    <form runat="server" style="height: auto;">
    <div class="page">
        <div class="header">
            <%--<div class="logoDiv">
                <img style="width: auto; height: auto; display: inline;" src="Images/Logo.png" />
            </div>
            <div class="title">
                <h1>
                    <asp:Label ID="lblMainHeading" runat="server" Text="Resource And Time Sheet Management System"></asp:Label>
                </h1>
            </div>
            <div class="loginDisplay">
            </div>--%>
            <div class="clear hideSkiplink">
              <%--  <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false"
                    IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Home.aspx" Text="Home" />
                        <asp:MenuItem NavigateUrl="#" Text="Company Profile" />
                        <asp:MenuItem NavigateUrl="#" Text="Contact Us" />
                    </Items>
                </asp:Menu>--%>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div>
            <div class="footer">
                <a href="#">
                    <asp:Label ID="lblFooterHome" runat="server" Text="Home"></asp:Label></a> |
                <a href="#">
                    <asp:Label ID="lblFooterCompProfile" runat="server" Text="Company Profile"></asp:Label></a>
                | <a href="#">
                    <asp:Label ID="lblContactUs" runat="server" Text="Contact Us"></asp:Label></a>
            </div>
        </div>
    </div>
    <div>
    </div>
    </form>
</body>
</html>
